SECRET_KEY=change-me-with-a-long-random-secret
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

# Render PostgreSQL: Render fournira DATABASE_URL automatiquement si tu ajoutes une base Postgres.
DATABASE_URL=

FEDAPAY_SECRET_KEY=
FEDAPAY_PUBLIC_KEY=
FEDAPAY_ENVIRONMENT=sandbox
